body{
	background: lightblue;
	font-size: 20px;
	padding: 10px;
}
#url label{
	margin-right: 5px;
}
#url{
	margin-bottom: 5px;
}
#godina{
	margin-bottom: 5px;
}
#branch{
	margin-bottom: 20px;
}
#repo{
	margin-left: 60px;
}
#agodina{
	margin-left: 49px;
}