body{
	background: lightblue;
	margin: 10px;
}
#tekstarea{
	margin-top: 20px;
}
#dugme{
	margin-top: 20px;
}
.container{
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 10px;
}
#odaberi_z label{
	margin-right: 5px;
}
#odaberi_v label{
	margin-right: 12px;
}
#odaberi_ver label{
	margin-right: 10px;
}
.drugaForma{
	margin-top: 40px;
}
#bezgresaka{
	margin-top: 10px;
}
.drugaForma #drugoDugme{
	margin-top: 10px;
}